@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-white: #F8F5F2;         
  --color-expresso: #2E2925;         
  --color-beige: #D9CFC1;        
  --color-brown: #A89F91;         
  --color-accent-orange: #CDA96F; 
}